.DS_Store
__pycache__/
*.pyc
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.venv/
venv/
env/
data/
outputs/
.vscode/
.history/

# Spark runtime
metastore_db/
spark-warehouse/
derby.log
*.log

# Environment
.env
